body{
  margin: 0;
  padding: 0;
  background: url(Dark-wooden-website-background.jpg) no-repeat;
  background-size: cover;
}
.topnav{
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 30px;
  padding-bottom: 60px;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.topnav h1{
  font-size: 25px;
  letter-spacing: 4px;
  font-weight: 100;
  position: relative;
}
.text1{
  float: left;
  width: 20%;
}
.text2 {
  float:left;
  width:20%;
  text-align: right;
}
.center{
  float:left;
  width: 60%;
  text-align: center;
}
.topnav-icon{
  width:45px;
}
.topnav-icon:hover {
  opacity: 0.5;
}
.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}
